.form-box
{
  border: 1px var(--text-color) solid;
  width: fit-content;
  padding: 50px 30px;
  box-shadow: 7px 7px 12px var(--shadow-color);
  color: var(--text-color);
}

.form-input
{
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

#description, #startTime, #endTime
{
  color: var(--text-color);
  background-color : var(--background-color); 
}

.form-input label{
  margin-right: 5px;
}

.btn-form
{
  color: var(--background-color);
  font-size: 90%;
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 5px;
  margin-top: 5px;
  transition: all 0.6s ease;
  margin-right: 5px;
}

.btn-form:hover
{
  background-color: var(--primary-hover-color)
}

.txt-error
{
  font-size: 70%;
  color: var(--text-warn-color);
}
