<app-reset-button [service]="vacationService" />
<div class="vacation">
  <div class="info">
    <h1>You have {{ vacationData().remainingVacationDays ? vacationData().remainingVacationDays : 'no' }} vacation days
      remaining!</h1>
    <app-progress-bar [currentValue]="14 - vacationData().remainingVacationDays" [totalValue]="14"
      class="progress-bar-group-vacation" />
  </div>

  <div class="vacation-plan">
    <app-vacation-picker (addVacation)="addVacation($event)" />
    <div class="table">
      <button (click)="onToggle()" class="btn-toggle-table">{{ tableShowToggle === 'past' ? 'Past vacations' : 'Upcoming
        vacations'}}</button>
      @if(tableShowToggle === 'past'){
      @if(vacationData().pastVacations.length === 0){
      <p>You have no vacations on record</p>
      }@else {
      <app-vacation-table [vacationList]="vacationData().pastVacations"
        (deleteVacation)="deleteVacation($event, 'past')" />
      }
      }@else {
      @if(vacationData().futureVacations.length === 0){
      <p>You have no planned vacations</p>
      }@else {
      <app-vacation-table [vacationList]="vacationData().futureVacations"
        (deleteVacation)="deleteVacation($event, 'future')" />
      }
      }
    </div>
  </div>
</div>
