<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@if(isOpen){
<div class="overlay" (click)="onClose()">
  <div class="edit-box" (click)="$event.stopPropagation()">
    <mat-toolbar color="primary" class="edit-box-toolbar">
      <!-- <mat-icon>edit</mat-icon> -->
      <span class="toolbar-title">{{title}}</span>
      <button class="close-button" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div class="edit-box-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
}
