.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-box {
  background: var(--background-color);
  border: 0.4px solid var(--primary-color);
  border-radius: 8px;
  width: 30%;
  min-height: 40%;
  max-height: 80%;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.edit-box-toolbar {
  padding: 0 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.toolbar-title {
  flex: 1;
  margin-left: 8px;
  color: var(--background-color);
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.3s ease;
}

.close-button:hover {
  opacity: 0.8;
}

.edit-box-content {
  padding: 16px;
  height: calc(100% - 64px); /* Subtract toolbar height */
  overflow-y: auto;
}

.txt{
  color: var(--text-color);
}
