<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="table-group">
  <div class="sort-group">
    <app-date-filter calendarPicker="all" (dateFilter)="onChangeDateFilter($event)" />
    <app-status-filter (statusFilter)="onChangeStatusFilter($event)"
      [omitted]="tableType === 'future' ? [{status: 'ignored'}] : [{status: 'pending'}]" />
    <div class="sort-date">
      <p class="txt-sort">Sorty by date</p>
      <button class="btn-sort" (click)="onSortType()">
        <i [ngClass]="sortType==='asc'? 'fas fa-sort-up' : 'fas fa-sort-down'"></i>
      </button>
    </div>
  </div>
  <table class="leave-table">
    <tbody>
      @if(list.length === 0){
      <tr class="table-row">
        <td colspan="7" class="no-data">No leave slips available</td>
        }@else {
      <tr class="table-row">
        <th class="txt-filter">Date</th>
        <th class="txt-filter">Start time</th>
        <th class="txt-filter">End time</th>
        <th class="txt-filter">Reason</th>
        <th class="txt-filter">Status</th>
        <th class="txt-filter">Edit</th>
        <th class="txt-filter">Delete</th>
      </tr>

      @for(leave of list; track leave){
      <tr class="table-row">
        <td>{{leave.date | date: 'mediumDate'}}</td>
        <td>{{leave.startTime | date: 'hh:mm a'}}</td>
        <td>{{leave.endTime | date: 'hh:mm a'}}</td>
        <td>{{leave.description}}</td>
        <td>
          <i [ngClass]="'fas fa-circle ' + leave.status" [title]="leave.status"></i>
        </td>
        <td><button class="btn-icon-primary" (click)="openEditWindow(leave)" [disabled]="disabledEdit(leave)"><i
              class="fa-solid fa-pen" title="Edit session"></i></button></td>
        <td><button class="btn-icon" (click)="onDelete(leaveList.indexOf(leave))"><i class="fas fa-trash"
              title="Delete leave entry"></i></button>
        </td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>

<app-edit-box [isOpen]="isOpen"
  [title]="selectedLeaveSlip ? 'Edit leave slip - ' + (selectedLeaveSlip.date | date:'mediumDate') : 'Edit leave slip'"
  (close)="closeEditWindow()">
  <app-leave-form [leaveSlip]="selectedLeaveSlip" (closeEditWindow)="closeEditWindow()"
    (leaveEdited)="onEdit($event)" />
</app-edit-box>
