.table-group
{
  width: max-content;
  margin-left: 3vw;
}

.txt-filter
{
  font-size: large;
  color: darkblue;
  font-weight: bolder;
  text-align: center;
}

.leave-table
{
  list-style-type: none;
  position: absolute;
  margin-left: 5%;
}

.leave-table th, .leave-table td {
  padding: 8px;
  text-align: center;
}

.btn-icon{
  border:none;
  background-color: transparent;
  color: black;
  transition: color 0.6s ease;
}

.btn-icon:hover{
  color: red;
}

.pending{
  color: yellow;
}
.accepted{
  color: chartreuse;
}
.denied{
  color: red;
}

.sort-group
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.txt-sort
{
  margin-right: 15px;
}

.btn-sort
{
  color: black;
  border: none;
  background-color: transparent;
  font-size: 110%;
  font-weight: 500;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  transition: all 0.6s ease;
}

.btn-sort:hover
{
  color: rgb(13, 13, 210);
}
