<app-reset-button [service]="leaveSlipService" />
<div class="leave">

  <div class="info">
    <h1>You have {{leaveTime | date: "HH:mm" : 'UTC'}} paid leave time</h1>
    <app-progress-bar [currentValue]="21600000 - remainingTime" [totalValue]="21600000" class="vacation" />
  </div>
  <div class="leave-plan">
    <app-leave-slip-picker />
    <div class="table">
      <button (click)="onToggle()">{{tableShowToggle === 'future' ? "Upcoming" : "Past"}}</button>
      @if(tableShowToggle === 'future')
      {
      @if(futureLeaves.length)
      {
      <app-leave-slip-table [leaveList]="futureLeaves" (onDeleteLeaveEvent)="deleteLeave($event, 'future')" />
      }@else {
      <p>There's no upcoming leave tickets</p>
      }
      }@else{
      @if(pastLeaves.length)
      {
      <app-leave-slip-table [leaveList]="pastLeaves" (onDeleteLeaveEvent)="deleteLeave($event, 'past')" />
      }
      @else {
      <p>There's no past leave tickets</p>
      }
      }
    </div>
  </div>

</div>
