.timer-group
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-timer
{
  color: azure;
  font-size: 120%;
  background-color: darkblue;
  border-radius: 6px;
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
  transition: all 0.6s ease;
}

.btn-timer:hover{
  font-size: 125%;
  background-color: rgb(3, 3, 129);
}

.txt-timer
{
  text-align: center;
}

