.vacation-group
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p
{
  background-color: magenta;
  justify-content: center;
  align-items: center;
}
