<app-reset-vacation />
<div class="vacation-group">
  <h1>You have {{ remainingVacationDays ? remainingVacationDays : 'no' }} remaining vacation days!</h1>
  <button (click)="onToggle()" class="btn-toggle-table">{{ tableShowToggle === 'past' ? 'See past vacations' :'See '
    +'upcoming vacations'}}</button>
  @if(tableShowToggle === 'past'){
  @if(pastVacations.length === 0){
  <p>You have no vacations on record</p>
  }@else {
  <app-vacation-table [vacationList]="pastVacations" />
  }
  }@else {
  @if(futureVacations.length === 0){
  <p>You have no planned vacations</p>
  }@else {
  <app-vacation-table [vacationList]="futureVacations" (deleteVacation)="deleteVacation($event)" />
  }
  }
  @if(remainingVacationDays){
  <app-vacation-picker (addVacationEvent)=" addVacation($event)" />
  }

</div>