.vacation-list {
  list-style-type: none;
  width: 80vh;
  padding: 0;
  margin-bottom: 30px;
}

.txt-past-vacations
{
  font-size: large;
  text-align: center;
}

.txt-filter
{
  font-size: large;
  color: var(--primary-color);
  font-weight: bolder;
  text-align: left;
}

.btn-icon{
  border:none;
  background-color: transparent;
  color: var(--text-color);
  transition: color 0.6s ease;
}

.btn-icon:hover{
  color: red;
}

.sort-group
{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.txt-sort
{
  margin-right: 15px;
}

.btn-sort
{
  color: var(--text-color);
  border: none;
  background-color: transparent;
  font-size: 110%;
  font-weight: 500;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  transition: all 0.6s ease;
}

.btn-sort:hover
{
  color: var(--primary-hover-color);
}

.pending{
  color: yellow;
}
.accepted{
  color: chartreuse;
}
.denied{
  color: red;
}

.ignored{
  color:grey;
}


