<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-input" [hideRequiredMarker]="true">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="John Doe">
  </mat-form-field>

  <mat-form-field class="form-input" [hideRequiredMarker]="true">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="johndoe@example.com">
  </mat-form-field>

  <mat-form-field class="form-input" [hideRequiredMarker]="true">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
      placeholder="8-20 characters">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="form-input" [hideRequiredMarker]="true">
    <mat-label>Re-type password</mat-label>
    <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button type="button" class="btn-form" (click)="onReset()">Reset</button>
  @if(this.form.invalid){
  <button type="submit" class="btn-form" [disabled]="form.invalid">Submit</button>
  }@else {
  <button type="submit" class="btn-form">Submit</button>
  }
</form>
