<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="admin-tables">
  <table class="pending-table">
    <tbody>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
      @for(vacation of pendingVacationRequests; track vacation){
      <tr>
        <td>{{vacation.startDate}}</td>
        <td>{{vacation.endDate}}</td>
        <td>{{vacation.description}}</td>
        <td>
          <button class="btn-status deny" (click)="onDeny(vacation)">
            <i class="fas fa-times"></i>
            <p>Deny</p>
          </button>
          <button class="btn-status accept" (click)="onAccept(vacation)">
            <i class="fas fa-check"></i>
            <p>Accept</p>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
