# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Django migration logs
*.log

# SQLite DB (optional, if you're using SQLite in dev)
db.sqlite3

# VSCode settings (if used)
.vscode/

# Environment files
.env
env.py
.env.*
src/environments/*
environments/

backend/venv/
venv/
# Ignore all files in the backend directory

# Cypress test artifacts
cypress/screenshots/
cypress/videos/

# Cypress cache
node_modules/
.cypress/

# Cypress config output (if you use plugins writing to this)
cypress/downloads/
