.reset-group{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 15px;
}

.btn-reset{
  color: var(--background-color);
  background-color: red;
  border-radius: 3px;
  border-width: 5%;
  border-color:rgb(172, 17, 48) ;
  font-size: 80%;
  width: 80px;
  height: 50px;
  margin-bottom: 20px;
  transition: all 0.6s ease;
  box-shadow: 7px 7px 12px var(--shadow-color);
}

.btn-reset:hover{
  font-size: 85%;
  border-width: 10%;
  background-color: rgb(217, 17, 17);
}
