<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<p class="txt-past-vacations">Past vacations</p>
<table class="vacation-list">
  <tr>
    <th class="txt-filter">Data</th>
    <th class="txt-filter">Descriere</th>
    <th class="txt-filter">Action</th>
  </tr>
  @for(vacation of vacationList; track vacation){
  <tr>
    <td>{{vacation.date | date: 'longDate'}}</td>
    <td>{{vacation.description}}</td>
    <td><button class="btn-icon" (click)="onDelete(vacation.date)"><i class="fas fa-trash"></i></button>
    </td>
  </tr>
  }
</table>
<!-- <ul class="vacation-list">
  <li class="vacation-item">
    <p class="txt-filter">Data</p>
    <p class="txt-filter">Descriere</p>
    <p class="txt-filter">Action</p>
  </li>
  @for( vacation of vacationList; track vacation){
  <li class="vacation-item">
    <p>{{vacation.date | date: 'longDate'}}</p>
    <p>{{vacation.description}}</p>
    <button class="btn-icon"><i class="fas fa-trash"></i></button>
  </li>
  }
</ul> -->